* {
            box-sizing: border-box;
}

@import "mixins";
@import "animate";
// Add the class animated to the element you want to animate. 
// You may also want to include the class infinite for an infinite loop.
$headers: white;
$bodyCopy: white;
$themeColor: #6CBFEE;
.container {
            width: 990px;
            @include center();
}

.rectangle {
            height: 230px;
            background-color: lighten($themeColor, 20);
            width: 6px;
            @include center();
            position: relative;
            z-index: -2;
            .largeCircle {
                        width: 35px;
                        height: 35px;
                        border-radius: 100px;
                        background-color: #c7e7f9;
                        position: absolute;
                        z-index: -1;
                        top: 0px;
                        animation: bounce 2s infinite;
                        left: -15px;
            }
            .smallCircle {
                        width: 25px;
                        height: 25px;
                        border-radius: 100px;
                        background-color: #1995db;
                        position: absolute;
                        z-index: 1;
                        top: 4.5px;
                        left: -10px;
            }
}

body {
            font-family: "Helvetica", sans-serif;
            line-height: 1.4em;
}

.dateTime,
.iconBar,
.content {
            display: inline-block;
            vertical-align: top;
}

.dateTime {
            width: 25%;
            text-align: right;
            margin-right: -26px;
}

.date {
            color: lighten(grey, 30);
            font-size: 8px;
}

.time {
            color: $themeColor;
            font-size: 26px;
}

i {
            color: $bodyCopy;
            font-size: 23px !important;
            text-align: center;
            display: block !important;
            margin-top: 1px;
}

#laptop i {
            color: white;
            font-size: 16px !important;
            text-align: center;
            display: block !important;
            margin-top: 5px;
}

.iconBar {
            width: 10%;
}

.content {
            height: 192px;
            width: 53%;
            padding: 10px 20px;
            background-color: lighten(#6CBFEE, 15);
}

.carrot1 {
    position: absolute;
    top: -2px;
    width: 40px;
    height: 40px;
    background-color: $themeColor;
    transform: rotate(45deg);
    margin-left: -19px;
    z-index: -3;
}

.carrot2 {
    position: absolute;
    top: 234px;
    width: 20px;
    height: 20px;
    background-color: lighten($themeColor, 15);

    transform: rotate(45deg);
    margin-left: -24px;
    z-index: -3;
}

.carrot3 {
    position: absolute;
    top: 470px;
    width: 20px;
    height: 20px;
    background-color: $themeColor;
    transform: rotate(45deg);
    margin-left: -25px;
    z-index: -3;
}

.content2,
.content3 {
            width: 53%;
            padding: 10px 20px;
            display: inline-block;
}

.content2 {
            background-color: lighten(#6CBFEE, 5);
}

.content3 {
            background-color: darken(#6CBFEE, 5);
}

.title {
            color: $headers;
            font-size: 16px;
            font-weight: bold;
            padding: 12px;
            animation: slideInDown 4s;
}

.entry {

}

.rectangle3 {
    height: 200px;
}

.blog {
            font-size: 12px;
            color: white;
            line-height: 17px;
            padding: 12px;
            padding-bottom: 25px;
            padding-top: 15px;
            border-top: 1px solid white;
}

@keyframes bounce {
            0% {
                        transform: scale(1)
            }
            50% {
                        transform: scale(1.25)
            }
            100% {
                        transform: scale(1)
            }
}

@media (max-width: 990px) {
            .container {
                        width: 100%;
                        padding: 20px;
            
            }
            .iconBar {
                        display: none;
            }
            .dateTime,
            .content {
                        height: 100%;
                        display: block;
                        width: 100%;
            }

            .carrot {
    display: none;
}

.time {
    margin-bottom: 15px;
}

.entry {
    margin-bottom: 30px;
}

}


.footer {
            @include footer();
}
